# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
/local.properties
/.idea/workspace.xml
out
gen
.gitignore
.idea/shelf/
build/generated/mockable-android-25.jar
