<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kareem.IIFYM_Tracker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL__STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.Old_Login.Login_Abdu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Activities.Main.AddQuickMealActivity"
            android:screenOrientation="portrait" />
        <!--
        <activity android:name=".Activities.ViewSavedMealsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Activities.ViewSavedMealActivity"></activity>
        -->
        <activity
            android:name=".Activities.Main.ViewSavedMealsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Main.ViewMealActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Settings.MacroSettings"
            android:label="Macro Settings"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Activities.Old_Login.UserProfile_Abdu" />
        <activity android:name=".Activities.Settings.EditProfile" />
        <activity
            android:name=".Activities.Main.SelectSavedMealActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.Main.CreateComplexMealActivity"
            android:label="Add Complex Meal"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.Main.AddSavedMealActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        >>>>>>> master
        <activity
            android:name=".Activities.Main.SelectMealTypeActivity"
            android:label="@string/title_activity_select_meal_type"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Main.CreateSimpleMealActivity"
            android:label="@string/title_activity_create_simple_meal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.User_Login_Authentification.Login_Activity"></activity>
    </application>

</manifest>