<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kareem.IIFYM_Tracker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL__STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.Main.activityHome"
            android:label="@string/appName"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleInstance"/>
        <activity
            android:name=".Activities.Main.activityFoodManager"
            android:screenOrientation="portrait"
            android:label="@string/toolbarSavedItems"/>
        <activity
            android:name=".Activities.Main.activityEditFood"
            android:label="@string/toolbarEditFood"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Settings.MacroSettings"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" /><![CDATA[
        android:windowSoftInputMode="adjustPan" />
        ]]>
        <activity
            android:name=".Activities.Main.acitivityAddDailyItem"
            android:theme="@style/AppTheme.NoActionBar" />
        >>>>>>> master
        <activity
            android:name=".Activities.Main.activityCreateFood"
            android:label="@string/toolbarCreateNewFood" />
        <activity
            android:name=".Activities.UserLoginAuthentification.activityLogin"
            android:label="@string/appName" />
        <activity
            android:name=".Activities.UserLoginAuthentification.activityUserInfo"
            android:label="@string/toolbarUserInfo" />
        <activity
            android:name=".Activities.UserLoginAuthentification.activityUserMacros"
            android:label="@string/toolbarUserMacros" />
        <activity
            android:name=".Activities.UserLoginAuthentification.activityLauncher"
            android:label="IIFYM Tracker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Main.activitySelectDailyItem"
            android:label="@string/toolbarSelectItemToAdd" />
        <activity android:name=".Activities.Main.activityViewDailyItem"></activity>
    </application>

</manifest>