<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.karimchehab.IIFYM">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL__STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.karimchehab.IIFYM.Activities.Application.ActivityHome"
            android:configChanges="orientation"
            android:label="@string/appName"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.karimchehab.IIFYM.Activities.Application.ActivityFoodManager"
            android:configChanges="orientation"
            android:label="@string/toolbarManageYourFood"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.karimchehab.IIFYM.Activities.Application.ActivityEditFood"
            android:configChanges="orientation"
            android:label="@string/toolbarEditFood"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.karimchehab.IIFYM.Activities.Application.ActivityCreateFood"
            android:configChanges="orientation"
            android:label="@string/toolbarCreateNewFood"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.karimchehab.IIFYM.Activities.Authentication.ActivityRegisterProfile"
            android:configChanges="orientation"
            android:label="@string/toolbarUserInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.karimchehab.IIFYM.Activities.Authentication.ActivityRegisterGoals"
            android:configChanges="orientation"
            android:label="@string/toolbarUserMacros"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.karimchehab.IIFYM.Activities.Application.ActivityAddDailyItem"
            android:configChanges="orientation"
            android:label="@string/toolbarAddDailyItem"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Application.ActivityViewDailyItem"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Settings.ActivitySettings"
            android:configChanges="orientation"
            android:label="Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.karimchehab.IIFYM.Activities.Application.ActivityCreateMeal"
            android:configChanges="orientation"
            android:label="@string/toolbarCreateNewMeal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Application.ActivtitySelectMealIngredients"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.karimchehab.IIFYM.Activities.Static.ActivityAbout"
            android:configChanges="orientation"
            android:label="About"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Authentication.ActivitySelectAuthentication"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Authentication.ActivityLoginEmail"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activities.Application.ActivityFoodSearch"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
    </application>

</manifest>