<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.karimchehab.IIFYM">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL__STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.karimchehab.IIFYM.Activities.Application.ActivityHome"
            android:label="@string/appName"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.karimchehab.IIFYM.Activities.Application.ActivityFoodManager"
            android:label="@string/toolbarTapOnAnItemToEdit" />
        <activity
            android:name="com.karimchehab.IIFYM.Activities.Application.ActivityEditFood"
            android:label="@string/toolbarEditFood" />
        <activity
            android:name="com.karimchehab.IIFYM.Activities.Application.ActivityCreateFood"
            android:label="@string/toolbarCreateNewFood" />
        <activity
            android:name="com.karimchehab.IIFYM.Activities.Authentication.ActivityRegisterProfile"
            android:label="@string/toolbarUserInfo" />
        <activity
            android:name="com.karimchehab.IIFYM.Activities.Authentication.ActivityRegisterGoals"
            android:label="@string/toolbarUserMacros" />
        <activity
            android:name="com.karimchehab.IIFYM.Activities.Application.ActivityAddDailyItem"
            android:label="@string/toolbarAddDailyItem" />
        <activity
            android:name="com.karimchehab.IIFYM.Activities.Application.ActivitySelectDailyItem"
            android:label="@string/toolbarSelectItemToAdd" />
        <activity android:name=".Activities.Application.ActivityViewDailyItem" />
        <activity
            android:name=".Activities.Settings.ActivitySettings"
            android:label="Settings" />
            android:name="com.karimchehab.IIFYM.Activities.Main.activityCreateMeal"
            android:label="@string/toolbarCreateNewMeal" />
        <activity android:name=".Activities.Application.ActivtitySelectMealIngredients" />
        <activity
            android:name="com.karimchehab.IIFYM.Activities.Static.ActivityAbout"
            android:label="About" />
        <activity android:name=".Activities.Authentication.ActivitySelectAuthentication" />
        <activity android:name=".Activities.Authentication.ActivityLoginEmail"></activity>
    </application>

</manifest>